.side-menu
    transition: 0.4s
    border: 1px dashed blue
    border-radius: 2em

.ant-menu-submenu-title
    padding-left: 24px !important

.ant-menu.ant-menu-sub.ant-menu-inline
    .ant-menu-item
        padding-left: 48px !important


