@import "./../../mixins"

.side-menu
    width: 240px
    display: flex
    flex-direction: column

    &--mobile

    &--desktop
        background-color: darken(white, 10%)
        transition: 0.4s

        &.collapsed
            width: 60px

.menu-list
    &__item
        display: flex
        align-items: center

        &.switch
            height: 60px

    &__link
        display: flex
        align-items: center

    &__static-item
        height: 60px
        padding: 18px



    &__text
        visibility: visible
        transition-delay: 0.2s
        transition-duration: .2s
        transition-timing-function: ease-in-out
        margin-left: 0
        opacity: 1

    &__text--collapsed
        visibility: hidden
        margin-left: -.75rem
        opacity: 0
