.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .app__header {
        height: 60px;
        border: 1px solid red;
    }

    .app__content {
        display: flex;
        height: calc(100vh - 60px);
        width: 100%;
    }
}
