@import ./mixins

.app
    display: flex
    flex-direction: column
    overflow: hidden

    height: calc(var(--vh, 1vh) * 100)
    scroll-behavior: smooth

    +for-desktop-up
        flex-direction: row

.content
    width: 100%
    scroll-behavior: smooth